<h3>Multiplication of first 10 prime numbers</h3>

<%= form_tag '', :method => :get do %>
  <%= text_field_tag(:number_prime, '', :placeholder => "Pick a Number") %>
  <%= submit_tag("Submit", :class => 'btn btn-primary select-purchased-button') %>
<% end %>

<table>
  <thead>
    <th>

    </th>
    <% @prime_numbers.each do |i| %>
      <th>
        <%= i %>
      </th>
    <% end %>
  </thead>
  <tbody>
    <% @prime_numbers.each do |i| %>
      <tr>
        <td>
          <%= i %>
        </td>
        <% @prime_numbers.each do |j| %>
          <td>
            <%= i * j %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
